h1{
    text-align: center;
    font-style: normal;
    font-weight: 400 !important;
}

h4{
    margin-top: 2rem;
    font-style: normal;
    font-weight: 400 !important;
}


.orderStatus{
    font-weight: 400 !important;
}

.clearCart{
    height: 48px;
    width: 100%;
    background-color: #FF3030;
    border-radius: 8px;
}

.clearCart:hover{
    background-color: #ff303077;
}

.reviewOrder{
    margin-top: 10px;
    height: 48px;
    width: 100%;
    border-radius: 8px;
    background-color: #FF9900;
}

.reviewOrder:hover{
    background-color: #ff99008c;
}
