.shop{
    display: flex;
}

.product{
    margin-left: 100px;
    min-width: min-content;
}

.cart{
    min-width: 250px;
    padding: 1rem;
    background: rgba(255, 153, 0, 0.3);
    border: 2px solid #ffffff;
}
